.main-container{
    width: 87%;
    height: 90vh;
    position: fixed;
    top:14%;
    left:12.5%;
    background-color: #FFFFFF;
    overflow-y: auto;
}


h5 {
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-left: 5%;
    font-size: 0.95em;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

table thead tr {
    background-color: #47B7D0;
    color: rgb(52, 50, 50);
    text-align: left;
    font-weight: 100;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #47B7D0;
}

/* table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
} */