<div class="main-container">
    <h5 style="margin: 2% 0 0 0;">All Users List</h5>
    <br>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>ESD</th>
                    <th>EED</th>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of adminData">
                    <td>{{ data.USER_ID }}</td>
                    <td>{{ data.FIRST_NAME }}</td>
                    <td>{{ data.LAST_NAME }}</td>
                    <td>{{ data.EMAIL_ID }}</td>
                    <td>{{ data.MOBILE_NUMBER }}</td>
                    <td>{{ data.EFFECTIVE_START_DATE | date :'dd/mm/yyyy'}}</td>
                    <td>{{ data.EFFECTIVE_END_DATE | date :'dd/mm/yyyy' }}</td>
                    <td>{{ data.CREATED_BY }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>