.emp-details{
    /* min-width: 192vh;
    min-height:90vh; */
    border: 1px solid black;
    width: 180vh;
    height: 90vh;
    position: fixed;
    top:14%;
    left:12.5%;
    background-color: bfbcbc;
    overflow-y: auto;
}


.hr{
    border: none;
    height: 5px;
    background-color:#bfbcbc;
}
.search-sec{
    margin: 1%;
}
.search-icon{
    position: absolute;
    top:7%;
    left: 28.5%;
    cursor: pointer;
}
.align{
    margin:2%;
}
.bottom-spc{
    margin-bottom: 100px;
}
.button{
    margin-left: 85%;
}

.input{
    width: 80%;
}

.first{
    margin-left: 5%;
}

.drop-down{
    width: 100%;
}

.main-container{
    margin-left: 5%;
}
.margin{
    margin-left: 3%;
}