<nav class="navbar header">
    <div>
        <a routerLink="/home" class="navbar-brand">
            <img src="../../../assets/Images/Home-Img.png" alt="HRITF Logo" class="image">
        </a>
    </div>

    <div class="navbar-right">
      <div>
        <i class="fa-solid fa-bell" style="font-size:x-large;"></i>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="profile-info">
          <div class="profile-text">
            <p class="username">{{ login_data.Username }}</p>
            <p class="userid">{{ login_data.User_Id }}</p>
          </div>
          <div class="profile-icon">
            <img src="../../../../assets/Images/emp_profile.png" alt="Profile Icon" class="profile-img">
          </div>
        </div>
      </div>
</nav>