<div class="main-container">
    <div>
        <img src="../../../assets/Images/Home-Img.png" alt="logo" class="m-4">
    </div>
    <div>
        <div>
            <img src="../../../../assets/Images/forgotImagenew.png" alt="person with key img" width="10%">
        </div>
        <div>
            <p>Please enter your email ID for generating OTP</p>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendOtp()">
                <div>
                    <label for="emailid">Email ID:</label><br>
                    <input type="text" id="emailid" formControlName="emailId">    
                </div>
                <div>
                    <button type="submit"> Send OTP</button>
                </div>
            </form>
            <div *ngIf="otpSentSuccess"><h6 class="success-otp">OTP Sent Successfully!</h6></div>
            <div *ngIf="otpSentFail" class="fail-otp"><h6>!Failed to Sent OTP</h6></div>
        </div>
        <div>
           <form [formGroup]="verifyOTP" (ngSubmit)="verifyOtp()">
                <div>
                    <label for="otp">Enter OTP:</label><br>
                    <input type="text" id="otp" formControlName="otp">
                </div>
                <div>
                    <button type="submit">Verify OTP</button>
                </div>
                <div *ngIf="verifyotpFail"><h6 class="verifyotp-fail">!OTP Verification Fail</h6></div>
           </form> 
        </div>
    </div>
</div>