<div class="main-container"> <!--Main container-->

    <div><img src="../../../assets/Images/Home-Img.png" alt="logo" class="m-4"></div>

    <div class="main-section">
            <div>
                <img src="../../../../assets/Images/forgotImagenew.png" alt="person with key img" class="forgot-img">
            </div>

            <div class="forgot-form">
                    <div><p class="para1">Please enter your email ID for generating OTP</p></div>

                    <!--*********************** Form sec started*******************************-->

                    <div class="align-items">

                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendOtp()">

                            <div>
                                <label for="emailid">Email ID:</label><br>
                                <input type="text" id="emailid" formControlName="emailId" (click)="resetmsg()">    
                            </div>
                            <div *ngIf="forgotPasswordForm.get('emailId').touched && forgotPasswordForm.get('emailId').invalid || submitted && forgotPasswordForm.get('emailId').invalid" class="text-danger">
                                <div *ngIf="forgotPasswordForm.get('emailId')?.hasError('required')">*Email Id is required</div>
                            </div>

                            <div class="button-container">
                                <button type="submit" class="btn btn-info" [disabled]="forgotPasswordForm.invalid">Send OTP</button>
                                <div *ngIf="loading" class="spinner"></div>
                            </div>
                            <!-- <div><button type="submit" class="btn btn-info" [disabled]="forgotPasswordForm.invalid"> Send OTP</button></div> -->

                        </form>            

                        <!-- <div *ngIf="otpSentSuccess" class="otp-sent-msg"><h6 class="success-otp">{{mailSuccess}}</h6></div>

                        <div *ngIf="otpSentFail" class="otp-sent-msg"><h6 class="fail-otp">{{mailFail}}</h6></div> -->

                        <br>

                        <div><p class="para2">Please enter OTP</p></div>


                        <form [formGroup]="verifyOTP" (ngSubmit)="verifyOtp()">

                                <div>
                                    <label for="otp">Enter OTP:</label><br>
                                    <input type="text" id="otp" formControlName="otp" (click)="resetmsg()">
                                </div>
                                <div *ngIf="verifyOTP.get('otp').touched && verifyOTP.get('otp').invalid || submitted && verifyOTP.get('otp').invalid" class="text-danger">
                                    <div *ngIf="verifyOTP.get('otp')?.hasError('required')">*Please enter OTP</div>
                                </div>
            
                                <div class="button-container">
                                    <button type="submit" class="btn btn-info" [disabled]="verifyOTP.invalid">Verify OTP</button>
                                    <div *ngIf="loading2" class="spinner"></div>
                                </div>

                                <!-- <div *ngIf="verifyotpFail" class="otp-sent-msg"><h6 class="verifyotp-fail">{{otpFail}}</h6></div>

                                <div *ngIf="verifyotpSuccess" class="otp-sent-msg"><h6 class="success-otp">{{otpSuccess}}</h6></div> -->

                        </form>

                    </div>
                    <!--****************************************Form sec ended*********************************************-->

                    <div>
                        <button type="submit" routerLink="/" class="btn btn-danger" style="margin:0 0 5% 40%">Cancel</button>
                    </div>

            </div>
     </div>

</div><!-- main div -->