<div class="main-container">
    <div>
        <img src="../../../assets/Images/Home-Img.png" alt="logo" class="m-4">
    </div>
    <div class="main-section">
            <div>
                <img src="../../../../assets/Images/forgotImagenew.png" alt="person with key img" class="forgot-img">
            </div>
                <div class="forgot-form">
                    <p>Please enter your email ID for generating OTP</p>
                    <div class="align-items">
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendOtp()">
                            <div>
                                <label for="emailid">Email ID:</label><br>
                                <input type="text" id="emailid" formControlName="emailId" autofocus>    
                            </div>
                            <div>
                                <button type="submit" class="btn btn-info"> Send OTP</button>
                            </div>
                        </form>
                        <div *ngIf="otpSentSuccess" class="otp-sent-msg"><h6 class="success-otp">OTP Sent Successfully!</h6></div>
                        <div *ngIf="otpSentFail" class="otp-sent-msg"><h6 class="fail-otp">!Failed to Sent OTP</h6></div>
                        <br>
                        <form [formGroup]="verifyOTP" (ngSubmit)="verifyOtp()">
                                <div>
                                    <label for="otp">Enter OTP:</label><br>
                                    <input type="text" id="otp" formControlName="otp">
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-info">Verify OTP</button>
                                </div>
                                <div *ngIf="verifyotpFail" class="otp-sent-msg"><h6 class="verifyotp-fail">!OTP Verification Fail</h6></div>
                        </form> 
                </div>
                <div><button type="submit" routerLink="/" class="btn btn-danger" style="margin:0 0 5% 40%">Cancel</button></div>
            </div>
     </div>
</div>