.main-container{
    background-image: url('../../../../assets/Images/login-img-background.png');
    height: 100vh;
    background-size: cover;
    max-width: 300vh;
}

.success-otp{
    color:green;
}
.fail-otp, .verifyotp-fail{
    color:red;
}
