<div class="main-container">
    <div >
        <div class="m-5">
            <label for="letterType">Select Letter Type:</label>
            <select id="letterType" (change)="onLetterTypeChange($event)" class="form-control w-50" >
                <option value="">select</option>
                <ng-container *ngFor="let data of lettersData">
                <option value={{data.name}}>{{data.name}}</option>
                </ng-container>
            </select>
          </div>
          
          <div class="margin m-5">
           
            <input type="file" id="rtfFile" (change)="onFileChange($event)" accept=".rtf" class="form-control w-50">
            <span id="fileError" style="color: red; display: none;"></span>
            <br>
            <button (click)="uploadFile()" class="btn btn-primary m-3">submit</button>
            <!-- <button (click)=" beforeStoringDatabase()" class="btn btn-primary">before View </button> -->
            
            <button (click)="displayPdf(letterId)" class="btn btn-primary m-3"> View </button>
            <br/>
            <!-- <form action="" (ngSubmit)="genarateletter()">
                <div class="d-flex flex-column">
                    <label for="">Letter Type</label>
               <input type="text" value="{{letterType}}" class="form-control w-50" formControlName="letterType">
    
                </div>
              
                <div class="d-flex flex-column">
                    <label for="">Employee Number</label>
               <input type="text" class="form-control w-50" formControlName="employeeNumber">
    
                </div>
                <div class="d-flex flex-column">
                    <label for="">CTC</label>
               <input type="text" class="form-control w-50" formControlName="ctc">
    
                </div>
                <button class="btn btn-primary m-2" type="submit">Genarate Letter</button>
                
            </form> -->
            
           
          </div>
          
        
    </div>
</div>


<router-outlet></router-outlet>
 