.dash-home{
    width: 87%;
    height: 90vh;
    position: fixed;
    top:14%;
    left:12.5%;
    bottom: 5%;
    background-color: #ffffff;
    overflow-y:auto;
    box-sizing: border-box;
}

.marquee{
    margin: 1% 0;
}

.h3{
    font-style: italic;
}

.name-color{
    color: #8C1428;
    font-family: Arial, Helvetica, sans-serif;
}



