<div class="dash-home">
    
    <div class="marquee">
        <marquee scrollamount="13"><h3 class="h3">🎉 Welcome to <span class="name-color">HRIT Factory India Private Limited</span> HR Portal </h3></marquee>
    </div>

    <div class="dashboard-content">
        <div class="card">
            <h6><i class="fas fa-user-plus"></i> New Employees</h6>
            <ul>
                <li>John Doe - E0001 - 12/05/2024</li>
                <li>Jane Smith - E0002 - 22/05/2024</li>
                <li>Samuel Green - E0003 - 25/05/2024</li>
                <li>Lisa Brown - E0004 - 27/05/2024</li>
            </ul>
        </div>

        <div class="card">
            <h6><i class="fas fa-user"></i> Employee Confirmations </h6>
            <ul>
                <li>John Doe - 10/07/2024</li>
                <li>Jane Smith - 13/07/2024 </li>
                <li>Samuel Green - 25/07/2024</li>
                <li>Lisa Brown - 29/07/2024</li>
            </ul>
        </div>


        <div class="card">
            <h6><i class="fas fa-briefcase"></i> Upcoming Work Anniversaries</h6>
            <ul>
                <li>Michael Scott - 5 Years</li>
                <li>Dwight Schrute - 3 Years</li>
                <li>Pam Beesly - 2 Years</li>
                <li>Jim Halpert - 1 Year</li>
            </ul>
        </div>

        <div class="card">
            <h6><i class="fas fa-birthday-cake"></i> Upcoming Birthdays</h6>
            <ul>
                <li>Angela Martin - June 20th</li>
                <li>Kevin Malone - July 22nd</li>
                <li>Oscar Martinez - August 25th</li>
                <li>Phyllis Vance - August 27th</li>
            </ul>
        </div>

    </div>

</div>
<router-outlet></router-outlet>