<div class="dash-home">
    
    <div class="marquee">
        <marquee scrollamount="13"><h3 class="h3">🎉 Welcome to <span class="name-color">HRIT Factory India Private Limited</span> HR Portal </h3></marquee>
    </div>

    <div class="dashboard-content">
        <div class="card">
            <h4><i class="fas fa-user-plus"></i> New Employees</h4>
            <ul>
                <li>John Doe - E0001</li>
                <li>Jane Smith - E0002</li>
                <li>Samuel Green - E0003</li>
                <li>Lisa Brown - E0004</li>
            </ul>
        </div>

        <div class="card">
            <h4><i class="fas fa-briefcase"></i> Upcoming Work Anniversaries</h4>
            <ul>
                <li>Michael Scott - 5 Years</li>
                <li>Dwight Schrute - 3 Years</li>
                <li>Pam Beesly - 2 Years</li>
                <li>Jim Halpert - 1 Year</li>
            </ul>
        </div>

        <div class="card">
            <h4><i class="fas fa-birthday-cake"></i> Upcoming Birthdays</h4>
            <ul>
                <li>Angela Martin - June 20</li>
                <li>Kevin Malone - June 22</li>
                <li>Oscar Martinez - June 25</li>
                <li>Phyllis Vance - June 27</li>
            </ul>
        </div>
    </div>

</div>
<router-outlet></router-outlet>