.main-container{
    /* min-width: 192vh;
    min-height:90vh; */
    /* border: 1px solid black; */
    width: 180vh;
    height: 90vh;
    position: fixed;
    top:14%;
    left:12.5%;
    background-color: #ffffff;
    overflow-y: auto;
}

.back{
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
}


/* bulk upload end */

.bulkUpload-container{
  margin:0 0 2% 2%;
}

      /* input[type="file"] {
        color:green;
        margin-bottom: 10px;
      }  */
 
.custom-file-upload {
  background-color: #47B7D0;
  border: 1px solid #ccc;
  /* display: inline-block; */
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  color:white;
  border-radius: 8px;
}


/* bulk upload end */

.hr{
  border: none;
  height: 5px;
  background-color:#bfbcbc;
}

.form-container{
  margin-left: 2%;
}

.label-container{
  /* display: flex;
  flex-direction: column; */
  margin: 1% 8% 1% 2%;
}

.label-container > label{
  font-weight:400;
  /* color: #8C1428; */
  margin-bottom: 2%;
}

.label-container > input , select{
  border: 0.5px solid gray;
  /* color: gray; */
  font-weight: 500;
  background-color:#e3f6fb;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
}

.drop-down{
  height: 40px;
  width: 200px;
}

.button-container{
  /* position: absolute;
  right: 5%;
  margin-bottom: 10%; */
  margin:1% 2% 4% 0;
  text-align: right;
}

.sucessfull-img{
  width:7%;
}
.fail-img{
  width:7%;
}
.success-text{
  color: green;
  font-weight:bold;
  font-family:'Lucida Sans';
  background-color: rgb(208, 254, 208);
}
.success-msg, .fail-msg{
  text-align: right;
  padding-right: 20px;
  margin: 1%;
}
/* .fail-msg{
  text-align: right;
  padding-right: 20px;
  margin: 2%; 
} */

.fail-text{
  color: red;
  font-weight:bold;
  font-family:'Lucida Sans';
  background-color: rgb(244, 171, 171);
}

select.form-control {
  appearance: none; 
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEyIDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMmgxMkw2IDZMNCA0eiIgZmlsbD0iIzAwMDAwMCIvPjwvc3ZnPg=='); 
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px; 
  padding-right: 30px; 
  
}

.mandatory{
  color: red;
  font-weight: bold;
}

