<div class="emp-add">
    <div class="back">
        <a routerLink=".."><i class="fa-solid fa-arrow-left-long"></i>&nbsp;Back to Employee Search</a>
    </div><br>
    <div>
        <h5>Quick add employee to the company</h5>
        <p>Add an employee by filling the form or add bunch of employees by clicking bulk upload</p>
    </div>
    <div>
        <label for="file-upload" class="custom-file-upload">Add Bulk Employee</label>
        <input id="file-upload" type="file" accept=".xlsx, .xls" required/>
    </div>
    <div>
        <!-- <img src="../../../../../assets/Images/bulk-emp.png" alt="Bulk add Image" class="image"> -->
    </div>
    <hr>
    <div>
        <h5>Add details of an employee</h5>
        <div>
            <form>
                <div>
                    <label for="fn">First Name*:</label>
                    <input type="text" id="fn" name="fn" placeholder="Enter First Name">

                    <label for="ln">Last Name*:</label>
                    <input type="text" id="ln" name="ln" placeholder="Enter Last Name">

                    <label for="dob">Date of Birth*:</label>
                    <input type="date" id="dob" name="dob">

                    <label for="id">Employee ID*:</label>
                <input type="text" id="id" name="id" placeholder="Enter Employee ID">
                </div>
                <br>
                <div>
                    <label for="email">Email*:</label>
                    <input type="email" id="email" name="email" placeholder="Enter Employee email">

                    <label for="doj">Date of Joining*:</label>
                    <input type="date" id="doj" name="doj">

                    <label for="ctc">Annual CTC*:</label>
                    <input type="number" id="ctc" name="ctc" placeholder="Enter Annual CTC">

                    <label for="location">Job Location*:</label>
                    <select name="location" id="location">
                        <option value="Bangaluru">Bangalore</option>
                    </select>
                </div>
                <br>
                <div>
                    <button type="submit" class="btn btn-info">Save</button>&nbsp;
                    <button type="reset" class="btn btn-info">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>
