.emp-add{
    /* min-width: 192vh;
    min-height:90vh; */
    /* border: 1px solid black; */
    width: 180vh;
    height: 90vh;
    position: fixed;
    top:14%;
    left:12.5%;
    background-color: #ffffff;
    overflow-y: auto;
}


.back{
  text-align: right;
}

.custom-file-upload {
    background-color: #47B7D0;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: none;
    color:white;
    border-radius: 8px;
  }

  input[type="file"] {
    display: none;
  }

  .image{
    height: 150px;
   width: 150px;
   margin: 1%;
  }

  