<div class="login-container">
    <img src="../../../assets/Images/Home-Img.png" alt="logo" class="m-4">
    <div class="sub-container">
        <div class="logo-image">
            <img src="../../../assets/Images/login-image1.png" alt="Logo Image" class="image">
        </div>
        <div class="login-form">
            <h1 class="text-white heading">Login</h1>
            <div *ngIf="loginFail"><h5>*Invalid Login Details*</h5></div>
            <div>
                <form [formGroup]="loginform" (ngSubmit)="login()">
                    <div class="m-2">
                        <label for="userid" class="text-white labels">User ID:</label><br>
                    <input type="text" id="userid" name="userid" formControlName="UserID" autofocus class="form-control" placeholder="User ID" (click)="resetlogin()"><br>
                    <div *ngIf="loginform.get('UserID').touched && loginform.get('UserID').invalid || submitted && loginform.get('UserID').invalid" class="text-danger">
                        <div *ngIf="loginform.get('UserID')?.hasError('required')">
                            *User Id  required
                        </div>
                    </div>

                    </div>
                    <div  class="m-2">
                        <label for="pw" class="text-white labels">Password:</label><br>
                        <input type="password" id="pw" name="password" formControlName="Password" class="form-control" placeholder="Password"><br>
                        <div *ngIf="loginform.get('Password').touched && loginform.get('Password').invalid || submitted && loginform.get('Password').invalid" class="text-danger">
                            <div *ngIf="loginform.get('Password')?.hasError('required')">
                                *Password required
                            </div>
                        </div>

                    </div>
                    
                    <div class="flexContainer">
                        <!-- <div class="d-flex flex-row">
                            <a routerLink="/signUp" style="color: #F9E108;">SignUp</a>
                            <input type="checkbox" name="rem-me" id="rem-me">&nbsp;
                            <label for="rem-me">Remember me</label>
                        </div> -->
                        <div>
                            <a routerLink="/forgotpassword" class="margin" style="color: #F9E108; margin-left: 100%;"><u>ForgotPassword?</u></a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger loginButton" [disabled]="loginform.invalid">Login</button>
                </form>
            </div>
        </div> 
    </div>
</div>