.container{
    display: flex;
    flex-direction: row;
}

/* .login-container{
    background-image: url('../../../assets/Images/login-img.png');
} */

.logo-image{
    margin-top: 10%;
}

.login-form{
    margin-top: 10%;
    padding:3rem;
}

/* .formelements{

} */
