.emp-search{
    width: 87%;
    height: 90vh;
    position: fixed;
    top:14%;
    left:12.5%;
    background-color: #ffffff;
    overflow-y: auto;
}

.search-block{
    margin: 1%;
}

input{
    border-radius: 10px;
    width: 40%;
    margin: 10px auto;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.search-form input[type="text"] {
    width: 100%;
    padding-left: 10px;
    padding-right: 40px; 
    box-sizing: border-box;
}

.search-icon{
    position: absolute;
    left: 94%;
    cursor: pointer;
}

.addemp-btn{
    position: absolute;
    top:5%;
    right: 4%;
}

.hr{
    border: none;
    height: 5px;
    background-color:#bfbcbc;
}

.emp-list-block{
    margin: 1%;
    font-weight: bold;
    margin-bottom: 1%;
}

.container {
    margin: 0 auto;
    padding: 0 15px; 
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}


.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
}

.table thead th {
    vertical-align: bottom;
    /* border-bottom: 2px solid #dee2e6; */
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

 .bottom-spc{
    margin-bottom: 5vh;
 }

 .emp-notfound{
    font-size: 2vw;
    color: red;
    font-weight: bold;
    text-align: center;
 }

