.emp-search{
    /* min-width: 192vh;
    min-height:90vh; */
    width: 180vh;
    height: 90vh;
    position: fixed;
    top:14%;
    left:12.5%;
    background-color: #ffffff;
    overflow-y: auto;
}
.search-block{
    margin: 1%;
}
input{
    border-radius: 10px;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search-icon{
    position: absolute;
    top:9%;
    left: 38%;
    cursor: pointer;
}
.addemp-btn{
    position: absolute;
    top:8%;
    right: 3%;
}
#hr{
    border: none;
    height: 5px;
    background-color:#bfbcbc;
}
.emp-list-block{
    margin: 1%;
    font-weight: bold;
    margin-bottom: 1%;
}
 .bottom-spc{
    margin-bottom: 40px;
 }

 .emp-notfound{
    font-size: 25px;
    color: red;
    font-weight: bold;
    text-align: center;
 }