<div class="emp-search"><!--Main Div-->

    <div class="search-block">

        <div>
            <h5>Quick Search</h5>
        </div>

        <span>
            <form class="search-form">
                <input type="text" placeholder=" Search by First Name, Last Name, Emp ID, Email" autofocus [(ngModel)]="searchTxt" (input)="filtEmpRes($event)" name="searchText">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </form>
        </span>

        <span class="addemp-btn">
            <button class="btn btn-danger"(click)="addbtnclk()">Add New Profile</button>
        </span>

    </div>

    <hr class="hr">

    <div class="emp-list-block">
        <h5>Total Number of Employees in the Organization : <span style="color: red;">{{ recordCount }}</span></h5>
    </div>
    
    <hr class="hr">

    <div>

        <div class="container text-center">

            <table class="table">
                <thead>
                    <tr>
                        <th>Emp Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Worker Type</th>
                        <th>Work Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let filtemp of displayedEmp">
                        <td>{{filtemp.Employee_Number}}</td>
                        <td>{{filtemp.Employee_First_Name}}</td>
                        <td>{{filtemp.Last_Name}}</td>
                        <td>{{filtemp.Email}}</td>
                        <td>{{filtemp.WORKER_TYPE}}</td>
                        <td>{{filtemp.JOB_LOCATION}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <hr>

    <div class="emp-notfound" *ngIf="filteredEmp.length === 0">Employee not found.</div>

        <div class="bottom-spc">

              <div class="container text-center" *ngIf="totalRecordsCount > initialRecordsCount">

                <button (click)="previousPage()" class="btn btn-secondary" [disabled]="currentPage === 1">Previous</button>&nbsp;

                <button (click)="nextPage()" class="btn btn-secondary" [disabled]="currentPage === totalPages">Next</button>

              </div>

            </div>
    
</div><!--Main Div-->