.sidebar{
    width: 12.2%;
    height:100%;
    position: fixed;
    top:14%;
    left:0;
    /* bottom:10%; */
    background-color: #ffffff;
    /* border: 0.5px solid black; */
}

a{
    color: black;
}
.home-btn{
    background-color: #d6d3d3;
    font-size: 1.1em;
}
.home-btn, .emp-btn, .logout-btn {
    text-align: justify;
    font-size: 1.05em; 
    font-weight: bold;
    margin-bottom: 2%; 
    padding: 2%; 
    padding-left:7%; 
    display: block;
}

.home-btn:hover, .logout-btn:hover {
    background-color: rgb(252, 207, 207);
    font-size: 1em;
}

.emp-btn{
    background-color:#47B7D0;
}

.emp-btn:hover{
    background-color: #1ac4ea;
    font-size: 0.95em;
}

i{
    color:#8C1428;
}

a > span{
    padding-left: 4%;
}

.logout-btn{
    text-align: justify;
    background-color: #d6d3d3;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 2px;
    padding: 5px;
    padding-left: 7%;
}

.logout-btn:hover{
    background-color: rgb(252, 207, 207);
    font-size: 16px;
}
