<nav class="sidebar">
    <div>
        <div class="home-btn" style="text-align: center;">
            <a routerLink="/home" (click)="collapseEmployeesDropdown()"><i class="fa-solid fa-house-chimney" ></i><span>Home</span></a>
        </div>
        <!-- <div class="emp-btn">
            <a><img src="../../../../assets/Images/emp-logo.png" alt="img"><span>Employees&nbsp;<i class="fa-solid fa-chevron-down"></i></span></a>
        </div> -->
        <dropdown [items]="dropdownItems"></dropdown>
        <div class="emp-btn">
            <a><img src="../../../../assets/Images/Payroll-logo.png" alt="img"><span>Payroll</span></a>
        </div>
        <div class="emp-btn">
            <a><img src="../../../../assets/Images/calender-logo.png" alt="img"><span>Calender</span></a>
        </div>
        <div class="emp-btn">
            <a><img src="../../../../assets/Images/workflow-logo.png" alt="img"><span>Workflow</span></a>
        </div>
    </div>
    <div>
        <div class="logout-btn">
            <a (click)="onlogout()"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>Logout</span></a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>