.main-container{
    background-image: url('../../../../assets/Images/login-img-background.png');
    height: 100vh;
    background-size: cover;
    max-width: 300vh;
}

.heading{
    text-align: center;
    text-shadow: 2px 2px black;
}

.container{
    display: flex;
    justify-content: center;
    margin-top:3%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 2px 1px black;
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.equal-width {
    flex: 1;
    min-width: auto; 
}

.align-btn{
    text-align: center;
}

select.form-control {
    appearance: none; 
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEyIDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMmgxMkw2IDZMNCA0eiIgZmlsbD0iIzAwMDAwMCIvPjwvc3ZnPg=='); /* Add a custom arrow image */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px; 
    padding-right: 30px;    
}

input:focus{
    outline: none !important;
    border-color:#0c1013;
    box-shadow: 0 0 10px #0c1013;
}

.success-div{
    background-color: rgba(0, 0, 0, 0.2);
    width: 25%;
    text-align: center;
    border-radius: 10px;
    margin:3% 0 0 38%;
}

.reg-fail{
    color: red;
    font-weight: bold;
    background-color: rgb(242, 191, 191);
    width: 23%;
    text-align: center;
    margin:1% 0 0 39%;
}

button:hover{
    background-color: blue;
    transition: linear;
    transition-duration: 800ms;
}
