<div>
    <h5>Quick Employee Search:</h5>
</div>
<div class="searchsec">
    <input type="text">
    <button type="submit" class="btn btn-info">Search</button>
    <button type="submit" class="btn btn-danger" (click)="gotoAddEmp()">Add a New Employee</button>
</div>
<hr>
<div class="emp-list container text-left">
    <div class="heading row align-items-start">
        <div class="col"><h6>Employee ID</h6></div>
        <div class="col"><h6>First Name</h6></div>
        <div class="col"><h6>Designation</h6></div>
        <div class="col"><h6>Email</h6></div>
        <div class="col"><h6>Status</h6></div>
    </div>
</div>
<hr>
