<div class="main-container">
    <div>
        <img src="../../../assets/Images/Home-Img.png" alt="logo" class="m-4">
    </div>
    <div class="main-section">
        <div>
            <img src="../../../../assets/Images/pw-reset-img.png" alt=" key img" width="10%" class="reset-img">
        </div>
        <div class="reset-pw" *ngIf="!passwordChanged">
            <p class="para">Reset Your Password</p>
            <!-- <div *ngIf="ispwsaame" style="margin-left: 10%;"><p class="error-msg">**New password and confirm password should be same**</p></div> -->
            <div class="align-items">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                    <div>
                        <!-- <label for="newpw">Enter New Password:</label><br>
                        <input type="password" id="newpw" formControlName="newPassword"> -->

                        <div>
                            <label for="newpw">Enter New Password:</label><br>
                            <input type="password" id="newpw" formControlName="newPassword">
                            <button type="button" class="show-hide" (click)="togglePasswordVisibility('newpw')">{{ newPasswordVisible ? 'Hide' : 'Show' }}</button>
                        </div>

                        <div *ngIf="resetPasswordForm.get('newPassword').touched && resetPasswordForm.get('newPassword').hasError('length')" class="text-danger">
                            *Password must be exactly 8 characters long
                          </div>
                          
                          <div *ngIf="resetPasswordForm.get('newPassword').touched && resetPasswordForm.get('newPassword').hasError('uppercase')" class="text-danger">
                            *Password must contain at least one uppercase letter
                          </div>
                          
                          <div *ngIf="resetPasswordForm.get('newPassword').touched && resetPasswordForm.get('newPassword').hasError('number')" class="text-danger">
                            *Password must contain at least one digit
                          </div>
                          
                          <div *ngIf="resetPasswordForm.get('newPassword').touched && resetPasswordForm.get('newPassword').hasError('special')" class="text-danger">
                            *Password must contain at least one special character
                          </div>  
                    </div>

                    <div>
                        <label for="repw">Re-Enter Password:</label><br>
                        <input type="password" id="repw" formControlName="reEneterPassword">
                        <button type="button" class="show-hide" (click)="togglePasswordVisibility('repw')">{{ reEnterPasswordVisible ? 'Hide' : 'Show' }}</button>
                    </div>
                    <div *ngIf="ispwsaame"><p class="error-msg text-danger" style="font-size: 15px;">*New password and confirm password should be same</p></div>

                    <!-- <div>
                        <label for="repw">Re-Enter Password:</label><br>
                        <input type="password" id="repw" formControlName="reEneterPassword">
                    </div> -->

                    <div class="button-container">
                        <button type="button" class="btn btn-secondary" routerLink="/login">Cancel</button>
                        <button type="submit" class="btn btn-info" [disabled]="resetPasswordForm.invalid">Reset</button>
                        <!-- <div *ngIf="loading" class="spinner"></div> -->
                    </div>
                </form>
            </div>
        </div>
    <div class="reset-pw align-items" style="margin:8% 0 0 10%" *ngIf="passwordChanged">
        <div><h3 class="para" style="color:rgb(8, 195, 8)">Congratulations!</h3></div>
        <div><p class="para">You Have Successfully changed your password</p></div>
        <div><button type="submit" routerLink="/" class="btn btn-info" style="margin:0 0 5% 40%;">Back to Login</button></div>
    </div>
</div>

</div>