<div class="main-container">
     <div>
        <div><h4 class="heading">Registration for Admin/HR persons</h4></div>
        <div>
            <div class="card container border">
                <form>
                    <div class="d-flex flex-wrap input-container border">
                        <div class="d-flex flex-column">
                            <label for="role">Role*</label>
                            <select id="role">
                                <option value="" disabled selected>Select....</option>
                                <option value="admin">Admin</option>
                                <option value="hr">HR</option>
                            </select>
                        </div>

                        <div class="d-flex flex-column">
                            <label for="access">Access*</label>
                            <select id="access">
                                <option value="" disabled selected>Select...</option>
                                <option value="read">Read</option>
                                <option value="write">Write</option>
                                <option value="readwrite">ReadWrite</option>
                            </select>
                        </div>
                        
                        <div class="d-flex flex-column">
                            <label for="fn">First Name*</label>
                            <input type="text" id="fn">
                        </div>

                        <div class="d-flex flex-column">
                            <label for="mn">Middle Name*</label>
                            <input type="text" id="mn">
                        </div>

                    </div>
                    <div class="-flex flex-wrap input-container border">
                        <div class="d-flex flex-column">
                            <label for="ln">Last Name*</label>
                            <input type="text" id="ln">
                        </div>

                        <div class="d-flex flex-column">
                            <label for="mobile">Contact*</label>
                            <input type="tel" id="mobile">
                        </div>

                        <div class="d-flex flex-column">
                            <label for="email">Email*</label>
                            <input type="email" id="email">
                        </div>

                        <div class="d-flex flex-column">
                            <label for="userid">User ID*</label>
                            <input type="text" id="userid">
                        </div>

                    </div>
                    <div class="-flex flex-wrap input-container border">
                        <div class="d-flex flex-column">
                            <label for="pw">Generate Password*</label>
                            <input type="password" id="pw">
                        </div>

                        <div class="d-flex flex-column">
                            <label for="effectivestartdate">Effective Start Date*</label>
                            <input type="date" id="effectivestartdate">
                        </div>

                        <div class="d-flex flex-column">
                            <label for="effectiveenddate">Effective End Date</label>
                            <input type="date" id="effectiveenddate"> 
                        </div>

                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
     </div>
</div>
<router-outlet></router-outlet>
