.main-container{
    width: 180vh;
    height: 90vh;
    position: fixed;
    top:14%;
    left:12.5%;
    background-color: #FFFFFF;
    overflow-y: auto;
}

.heading{
    margin: 2%;
}
.input-container{
    display: flex;
    flex-wrap: wrap;

    /* flex-direction: row; */
    justify-content:space-between;
}

.input-sec-container{
    display: flex;
    flex-wrap: wrap;
}

.success-div{
    margin: 0 2% 2% 0;
}

.mandatory{
    color: red;
    font-weight: bold;
}

.show-hide{
    margin-left: 1%;
    border-radius: 4px;
    width:20%;
    /* background-color: #FFFFFF; */
    border: 1px solid black;
} 

.show-hide:hover{
    background-color: #FFFFFF;
}