<div class="main-container">
    <div class="search-sec">
        <h6>Search for Employee profile</h6>
        <input type="text" placeholder="Search" (input)="filtEmpRes($event)">
        <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
    </div>
    <br>
    <div class="emp-notfound" *ngIf="filteredEmp.length === 0">Employee not found.</div>
    <div class="card-order">
        <div *ngFor="let filtemp of filteredEmp">
            <div class="card" style="cursor: pointer;">
                <div><img src="../../../../../assets/Images/emp_profile.png" alt="emp Img" width="50%"></div>
                <div style="font-weight: bold;">{{filtemp.Employee_Number}}</div>
                <div style="color:#8C1428;">{{filtemp.Employee_First_Name}}&nbsp;{{filtemp.Last_Name}}</div>
                <div routerLink="/home/employees/empdetails" style="cursor: pointer;"><i class="fa-solid fa-pen-to-square edit-icon"><span class="edit-text">Edit</span></i></div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

  